$icons: "../app/assets/images/sprites/icons-2010bdc9143176667be7e1841af6589626fd3551.png";
  $error-black-x: 0px;
  $error-black-y: 0px;
  $error-black-offset-x: 0px;
  $error-black-offset-y: 0px;
  $error-black-width: 22px;
  $error-black-height: 22px;
  $error-black: 0px 0px 0px 0px 22px 22px;
  $error-x: 0px;
  $error-y: 22px;
  $error-offset-x: 0px;
  $error-offset-y: -22px;
  $error-width: 22px;
  $error-height: 22px;
  $error: 0px 22px 0px -22px 22px 22px;
  $feedback-black-x: 0px;
  $feedback-black-y: 44px;
  $feedback-black-offset-x: 0px;
  $feedback-black-offset-y: -44px;
  $feedback-black-width: 22px;
  $feedback-black-height: 22px;
  $feedback-black: 0px 44px 0px -44px 22px 22px;
  $feedback-x: 0px;
  $feedback-y: 66px;
  $feedback-offset-x: 0px;
  $feedback-offset-y: -66px;
  $feedback-width: 22px;
  $feedback-height: 22px;
  $feedback: 0px 66px 0px -66px 22px 22px;
  $task-black-x: 0px;
  $task-black-y: 88px;
  $task-black-offset-x: 0px;
  $task-black-offset-y: -88px;
  $task-black-width: 22px;
  $task-black-height: 22px;
  $task-black: 0px 88px 0px -88px 22px 22px;
  $task-x: 0px;
  $task-y: 110px;
  $task-offset-x: 0px;
  $task-offset-y: -110px;
  $task-width: 22px;
  $task-height: 22px;
  $task: 0px 110px 0px -110px 22px 22px;


  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite($spriteImage, $sprite) {
    background-image: url(#{$spriteImage});
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
