$icons: "../app/assets/images/sprites/icons-74f3f78e43e0e74b8139472894e06c9bbb39684b.png";
  $carret-grey-x: 0px;
  $carret-grey-y: 0px;
  $carret-grey-offset-x: 0px;
  $carret-grey-offset-y: 0px;
  $carret-grey-width: 12px;
  $carret-grey-height: 7px;
  $carret-grey: 0px 0px 0px 0px 12px 7px;
  $carret-x: 0px;
  $carret-y: 7px;
  $carret-offset-x: 0px;
  $carret-offset-y: -7px;
  $carret-width: 12px;
  $carret-height: 7px;
  $carret: 0px 7px 0px -7px 12px 7px;
  $search-x: 0px;
  $search-y: 14px;
  $search-offset-x: 0px;
  $search-offset-y: -14px;
  $search-width: 18px;
  $search-height: 18px;
  $search: 0px 14px 0px -14px 18px 18px;
  $search-grey-x: 0px;
  $search-grey-y: 32px;
  $search-grey-offset-x: 0px;
  $search-grey-offset-y: -32px;
  $search-grey-width: 18px;
  $search-grey-height: 18px;
  $search-grey: 0px 32px 0px -32px 18px 18px;
  $task-x: 0px;
  $task-y: 50px;
  $task-offset-x: 0px;
  $task-offset-y: -50px;
  $task-width: 20px;
  $task-height: 20px;
  $task: 0px 50px 0px -50px 20px 20px;
  $task-red-x: 0px;
  $task-red-y: 70px;
  $task-red-offset-x: 0px;
  $task-red-offset-y: -70px;
  $task-red-width: 20px;
  $task-red-height: 20px;
  $task-red: 0px 70px 0px -70px 20px 20px;
  $error-black-x: 0px;
  $error-black-y: 90px;
  $error-black-offset-x: 0px;
  $error-black-offset-y: -90px;
  $error-black-width: 20px;
  $error-black-height: 20px;
  $error-black: 0px 90px 0px -90px 20px 20px;
  $error-grey-x: 0px;
  $error-grey-y: 110px;
  $error-grey-offset-x: 0px;
  $error-grey-offset-y: -110px;
  $error-grey-width: 20px;
  $error-grey-height: 20px;
  $error-grey: 0px 110px 0px -110px 20px 20px;
  $error-red-x: 0px;
  $error-red-y: 130px;
  $error-red-offset-x: 0px;
  $error-red-offset-y: -130px;
  $error-red-width: 20px;
  $error-red-height: 20px;
  $error-red: 0px 130px 0px -130px 20px 20px;
  $error-x: 0px;
  $error-y: 150px;
  $error-offset-x: 0px;
  $error-offset-y: -150px;
  $error-width: 20px;
  $error-height: 20px;
  $error: 0px 150px 0px -150px 20px 20px;
  $favorite-blue-x: 0px;
  $favorite-blue-y: 170px;
  $favorite-blue-offset-x: 0px;
  $favorite-blue-offset-y: -170px;
  $favorite-blue-width: 20px;
  $favorite-blue-height: 20px;
  $favorite-blue: 0px 170px 0px -170px 20px 20px;
  $favorite-dark-grey-x: 0px;
  $favorite-dark-grey-y: 190px;
  $favorite-dark-grey-offset-x: 0px;
  $favorite-dark-grey-offset-y: -190px;
  $favorite-dark-grey-width: 20px;
  $favorite-dark-grey-height: 20px;
  $favorite-dark-grey: 0px 190px 0px -190px 20px 20px;
  $favorite-red-x: 0px;
  $favorite-red-y: 210px;
  $favorite-red-offset-x: 0px;
  $favorite-red-offset-y: -210px;
  $favorite-red-width: 20px;
  $favorite-red-height: 20px;
  $favorite-red: 0px 210px 0px -210px 20px 20px;
  $favorite-yellow-x: 0px;
  $favorite-yellow-y: 230px;
  $favorite-yellow-offset-x: 0px;
  $favorite-yellow-offset-y: -230px;
  $favorite-yellow-width: 20px;
  $favorite-yellow-height: 20px;
  $favorite-yellow: 0px 230px 0px -230px 20px 20px;
  $task-grey-x: 0px;
  $task-grey-y: 250px;
  $task-grey-offset-x: 0px;
  $task-grey-offset-y: -250px;
  $task-grey-width: 20px;
  $task-grey-height: 20px;
  $task-grey: 0px 250px 0px -250px 20px 20px;
  $task-dark-grey-x: 0px;
  $task-dark-grey-y: 270px;
  $task-dark-grey-offset-x: 0px;
  $task-dark-grey-offset-y: -270px;
  $task-dark-grey-width: 20px;
  $task-dark-grey-height: 20px;
  $task-dark-grey: 0px 270px 0px -270px 20px 20px;
  $task-blue-x: 0px;
  $task-blue-y: 290px;
  $task-blue-offset-x: 0px;
  $task-blue-offset-y: -290px;
  $task-blue-width: 20px;
  $task-blue-height: 20px;
  $task-blue: 0px 290px 0px -290px 20px 20px;
  $task-black-x: 0px;
  $task-black-y: 310px;
  $task-black-offset-x: 0px;
  $task-black-offset-y: -310px;
  $task-black-width: 20px;
  $task-black-height: 20px;
  $task-black: 0px 310px 0px -310px 20px 20px;
  $settings-x: 0px;
  $settings-y: 330px;
  $settings-offset-x: 0px;
  $settings-offset-y: -330px;
  $settings-width: 20px;
  $settings-height: 20px;
  $settings: 0px 330px 0px -330px 20px 20px;
  $settings-black-x: 0px;
  $settings-black-y: 350px;
  $settings-black-offset-x: 0px;
  $settings-black-offset-y: -350px;
  $settings-black-width: 20px;
  $settings-black-height: 20px;
  $settings-black: 0px 350px 0px -350px 20px 20px;
  $left-dark-grey-x: 0px;
  $left-dark-grey-y: 370px;
  $left-dark-grey-offset-x: 0px;
  $left-dark-grey-offset-y: -370px;
  $left-dark-grey-width: 20px;
  $left-dark-grey-height: 20px;
  $left-dark-grey: 0px 370px 0px -370px 20px 20px;
  $left-grey-x: 0px;
  $left-grey-y: 390px;
  $left-grey-offset-x: 0px;
  $left-grey-offset-y: -390px;
  $left-grey-width: 20px;
  $left-grey-height: 20px;
  $left-grey: 0px 390px 0px -390px 20px 20px;
  $check-black-x: 0px;
  $check-black-y: 410px;
  $check-black-offset-x: 0px;
  $check-black-offset-y: -410px;
  $check-black-width: 20px;
  $check-black-height: 20px;
  $check-black: 0px 410px 0px -410px 20px 20px;
  $check-x: 0px;
  $check-y: 430px;
  $check-offset-x: 0px;
  $check-offset-y: -430px;
  $check-width: 20px;
  $check-height: 20px;
  $check: 0px 430px 0px -430px 20px 20px;
  $remove-blue-x: 0px;
  $remove-blue-y: 450px;
  $remove-blue-offset-x: 0px;
  $remove-blue-offset-y: -450px;
  $remove-blue-width: 20px;
  $remove-blue-height: 20px;
  $remove-blue: 0px 450px 0px -450px 20px 20px;
  $remove-dark-grey-x: 0px;
  $remove-dark-grey-y: 470px;
  $remove-dark-grey-offset-x: 0px;
  $remove-dark-grey-offset-y: -470px;
  $remove-dark-grey-width: 20px;
  $remove-dark-grey-height: 20px;
  $remove-dark-grey: 0px 470px 0px -470px 20px 20px;
  $remove-grey-x: 0px;
  $remove-grey-y: 490px;
  $remove-grey-offset-x: 0px;
  $remove-grey-offset-y: -490px;
  $remove-grey-width: 20px;
  $remove-grey-height: 20px;
  $remove-grey: 0px 490px 0px -490px 20px 20px;
  $remove-x: 0px;
  $remove-y: 510px;
  $remove-offset-x: 0px;
  $remove-offset-y: -510px;
  $remove-width: 20px;
  $remove-height: 20px;
  $remove: 0px 510px 0px -510px 20px 20px;
  $right-dark-grey-x: 0px;
  $right-dark-grey-y: 530px;
  $right-dark-grey-offset-x: 0px;
  $right-dark-grey-offset-y: -530px;
  $right-dark-grey-width: 20px;
  $right-dark-grey-height: 20px;
  $right-dark-grey: 0px 530px 0px -530px 20px 20px;
  $right-grey-x: 0px;
  $right-grey-y: 550px;
  $right-grey-offset-x: 0px;
  $right-grey-offset-y: -550px;
  $right-grey-width: 20px;
  $right-grey-height: 20px;
  $right-grey: 0px 550px 0px -550px 20px 20px;
  $lock-dark-grey-x: 0px;
  $lock-dark-grey-y: 570px;
  $lock-dark-grey-offset-x: 0px;
  $lock-dark-grey-offset-y: -570px;
  $lock-dark-grey-width: 17px;
  $lock-dark-grey-height: 21px;
  $lock-dark-grey: 0px 570px 0px -570px 17px 21px;
  $user-dark-grey-x: 0px;
  $user-dark-grey-y: 591px;
  $user-dark-grey-offset-x: 0px;
  $user-dark-grey-offset-y: -591px;
  $user-dark-grey-width: 18px;
  $user-dark-grey-height: 21px;
  $user-dark-grey: 0px 591px 0px -591px 18px 21px;
  $user-blue-x: 0px;
  $user-blue-y: 612px;
  $user-blue-offset-x: 0px;
  $user-blue-offset-y: -612px;
  $user-blue-width: 18px;
  $user-blue-height: 21px;
  $user-blue: 0px 612px 0px -612px 18px 21px;
  $email-blue-x: 0px;
  $email-blue-y: 633px;
  $email-blue-offset-x: 0px;
  $email-blue-offset-y: -633px;
  $email-blue-width: 21px;
  $email-blue-height: 21px;
  $email-blue: 0px 633px 0px -633px 21px 21px;
  $email-x: 0px;
  $email-y: 654px;
  $email-offset-x: 0px;
  $email-offset-y: -654px;
  $email-width: 21px;
  $email-height: 21px;
  $email: 0px 654px 0px -654px 21px 21px;
  $lock-blue-x: 0px;
  $lock-blue-y: 675px;
  $lock-blue-offset-x: 0px;
  $lock-blue-offset-y: -675px;
  $lock-blue-width: 17px;
  $lock-blue-height: 21px;
  $lock-blue: 0px 675px 0px -675px 17px 21px;
  $feedback-red-x: 0px;
  $feedback-red-y: 696px;
  $feedback-red-offset-x: 0px;
  $feedback-red-offset-y: -696px;
  $feedback-red-width: 22px;
  $feedback-red-height: 22px;
  $feedback-red: 0px 696px 0px -696px 22px 22px;
  $feedback-black-x: 0px;
  $feedback-black-y: 718px;
  $feedback-black-offset-x: 0px;
  $feedback-black-offset-y: -718px;
  $feedback-black-width: 22px;
  $feedback-black-height: 22px;
  $feedback-black: 0px 718px 0px -718px 22px 22px;
  $feedback-x: 0px;
  $feedback-y: 740px;
  $feedback-offset-x: 0px;
  $feedback-offset-y: -740px;
  $feedback-width: 22px;
  $feedback-height: 22px;
  $feedback: 0px 740px 0px -740px 22px 22px;
  $feedback-grey-x: 0px;
  $feedback-grey-y: 762px;
  $feedback-grey-offset-x: 0px;
  $feedback-grey-offset-y: -762px;
  $feedback-grey-width: 22px;
  $feedback-grey-height: 22px;
  $feedback-grey: 0px 762px 0px -762px 22px 22px;
  $github-blue-x: 0px;
  $github-blue-y: 784px;
  $github-blue-offset-x: 0px;
  $github-blue-offset-y: -784px;
  $github-blue-width: 26px;
  $github-blue-height: 25px;
  $github-blue: 0px 784px 0px -784px 26px 25px;
  $github-x: 0px;
  $github-y: 809px;
  $github-offset-x: 0px;
  $github-offset-y: -809px;
  $github-width: 26px;
  $github-height: 25px;
  $github: 0px 809px 0px -809px 26px 25px;


  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite($spriteImage, $sprite) {
    background-image: url(#{$spriteImage});
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
